name: Ruby

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tests:
    name: >-
      ${{ matrix.ruby }} (sudo: ${{ matrix.sudo }})
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        sudo: [true]
        ruby:
          - "3.2"
          - "3.3"
          - "3.4"
        include:
          - { ruby: jruby, allow-failure: false, sudo: false }
          - { ruby: truffleruby, allow-failure: false, sudo: false }
    steps:
    - name: Start LavinMQ
      uses: cloudamqp/lavinmq-action@v1
    - uses: actions/checkout@v5
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: ${{ matrix.ruby }}
    - name: Run tests (excluding TLS tests) (JRuby)
      if: ${{ matrix.ruby == 'jruby' }}
      continue-on-error: ${{ matrix.allow-failure || false }}
      run: bundle exec rake
      env:
        JAVA_OPTS: "-Djava.net.preferIPv4Stack=true"
    - name: Run tests (excluding TLS tests)
      if: ${{ matrix.ruby != 'jruby' }}
      continue-on-error: ${{ matrix.allow-failure || false }}
      run: bundle exec rake
      env:
        RUN_SUDO_TESTS: ${{ matrix.sudo }}

  tls:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - "ruby" # latest stable release
          - "jruby"
          - "truffleruby"
    steps:
    - name: Set up Homebrew
      uses: Homebrew/actions/setup-homebrew@master
    - name: Install github.com/FiloSottile/mkcert
      run: brew install mkcert
    - name: Create local CA
      run: sudo CAROOT=/etc/rabbitmq $(brew --prefix)/bin/mkcert -install
    - name: Create certificate
      run: |
        sudo $(brew --prefix)/bin/mkcert -key-file /etc/rabbitmq/localhost-key.pem -cert-file /etc/rabbitmq/localhost.pem localhost
        sudo chmod +r /etc/rabbitmq/localhost-key.pem
    - name: Create RabbitMQ config
      run: |
        sudo tee /etc/lavinmq/lavinmq.ini <<'EOF'
        [main]
        tls_cert = /etc/rabbitmq/localhost.pem
        tls_key = /etc/rabbitmq/localhost-key.pem
        EOF
    - name: Start LavinMQ with TLS
      uses: cloudamqp/lavinmq-action@v1
    - uses: actions/checkout@v5
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: ${{ matrix.ruby }}
    - name: Run TLS tests (JRuby)
      if: ${{ matrix.ruby == 'jruby' }}
      run: bundle exec rake
      env:
        JAVA_OPTS: "-Djava.net.preferIPv4Stack=true"
        TEST_AMQP_HOST: "localhost"
        TESTOPTS: --name=/_tls$/
    - name: Run TLS tests
      if: ${{ matrix.ruby != 'jruby' }}
      run: bundle exec rake
      env:
        TESTOPTS: --name=/_tls$/

  macos:
    runs-on: macos-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        ruby: # enough to test one Ruby on macOS
          - "ruby" # latest stable release
    steps:
    - name: Start LavinMQ
      uses: cloudamqp/lavinmq-action@v1
    - uses: actions/checkout@v5
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: ${{ matrix.ruby }}
    - name: Verify RabbitMQ started correctly
      run: while true; do rabbitmq-diagnostics status 2>/dev/null && break; echo -n .; sleep 2; done
    - name: Run tests (excluding TLS tests)
      run: bundle exec rake

  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v5
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: ruby
    - name: Run RuboCop
      run: bundle exec rake rubocop
